.details {
  max-height: calc(100vh - 450px);
  overflow-y: scroll;
  &__wrapper {
    padding: 25px;
    display: flex;
    flex-direction: column;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  // :not(:last-child) {
  //   margin: 0 0 25px 0;
  // }
  &__item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
  &__title {
    margin: 0 0 10px 0 !important;
    color: #8b949e;
  }
  &__image {
    width: 35px;
    height: 35px;
    object-fit: cover;
  }
  &__social {
    display: flex;
    align-items: center;
    &:not(:last-child) {
      margin: 0 0 6px 0;
    }
  }
  &__link {
    color: #e4e4e4;
    display: flex;
    align-items: center;
    :not(:last-child) {
      margin: 0 10px 0 0;
    }
  }
}
