@media screen and (min-width: 320px) {
    .navigation__informantion {
        max-width: 100px;
    }
    .nav {
        padding: 0 10px 0 0;
    }
    .nav--player {
        padding: 20px 0 0 0;
    }
    .home {
        padding: 0 0 0 15px;
        max-height: calc(100vh - 50px - 69px);
    }
    .header {
        padding: 10px 15px;
    }
    .playlist__wrapper {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 425px) {
    .playlist__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 540px) {
    .navigation__informantion {
        max-width: 100%;
    }
    .playlist__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .playlist__wrapper {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
    .card__image--playlist {
        width: 175px;
        height: 175px;
    }
}

@media screen and (min-width: 1024px) {
    .playlist__wrapper {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .header {
        padding: 20px 28px 20px 28px;
    }
    .playlist {
        height: calc(100vh - 70px - 69px);
    }
    .home {
        max-height: calc(100vh - 70px - 69px);
    }
}
