$primary: #eaf0ff;
$dark: #091227;

html[data-theme="dark"] {
    --app-background-color: #{$dark};

    --page-background-color: #{$dark};

    --title-color: #{$primary};
    --subtitle-color: #a5c0ff;

    --time-color: rgba(165, 192, 255, 0.7);

    --progress-background-color: rgba(255, 255, 255, 0.31);
    --progress-line-color: #fff;
    --progress-line__before-color: #fff;

    --burger-background-color: rgba(9, 18, 39, 0.7);
    --burger__wrapper-background-color: #{$dark};

    --icons-color: #{$primary};
    --nav__icons-color: #{$primary};

    --menu-link-color: #dfe8ff;
    --menu-link-hoverColor: rgba(165, 192, 255, 0.7);

    --card-title-color: #{$primary};

    --list-link-color: #e4e4e4;

    --header-background-color: #{$dark};
    --header-title-color: #{$primary};

    --trackName-color: #{$primary};

    --question__item-color: #{$primary};

    --search-title-color: #{$primary};
}

