* {
    box-sizing: border-box;
}

body {
    background-color: #091227;
    color: #eaf0ff;
    font-family: Gilroy;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    margin: 30px 0 0 0;
}

svg {
    flex-shrink: 0;
}
.icon {
    z-index: 1;
}

button,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: #fff;
}

// /.NULLSTYLES

.title {
    color: #eaf0ff;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
}
.subtitle {
    color: #a5c0ff;
    font-weight: 400;
    line-height: 11.6px;
    font-size: 10px;
    text-transform: uppercase;
}

// /.GENERAL

.page {
    &__wrapper {
        // max-height: 75vh;
        overflow-y: scroll;
        padding: 0 !important;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.02px;
        margin: 0 0 20px 0;
    }
    &__title--player {
        font-weight: 500;
        margin: 0;
    }
    &__section--playlist {
        margin: 42px 0 0 0;
    }
}
.home {
    max-height: 75vh;
    padding: 0 0 0 28px;
    &__section {
        &:not(:first-child) {
            margin: 34px 0 0 0;
        }
    }
}

.home.opacity {
    opacity: 0.6;
}

.playlist {
    padding: 0 28px;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.player {
    // max-height: 75vh;
    padding: 40px 0 0 0;
    &__section {
        margin: 34px 0 0 0;
        padding: 0 28px 10px 28px;
    }
    &__time {
        margin: 60px 0 34px 0;
    }
    &__navigation {
        display: flex;
        position: relative;
    }
    &__button {
        padding: 0;
    }
    &__button--volume {
        flex: 1;
        text-align: start;
    }
    &__button--repeat {
        margin: 0 12px;
    }
    &__button--like {
        position: absolute;
        right: 0;
        top: -295%;
        fill: #555b6a;
        transform: scale(1);
        transition: all 0.25s linear;
        z-index: 1;
        &:active {
            fill: #ff3333;
            transform: scale(1.3);
        }
    }
}
.time {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.92px;
    color: rgba(165, 192, 255, 0.7);
    display: flex;
    justify-content: space-between;
}
// /.PAGES

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-overflow-container {
    overflow-x: hidden;
    .container {
        overflow: visible;
        outline: 2px solid red;
    }
    .swiper-container {
        overflow: visible;
    }
}

// /.SLIDER

.icon__search {
    stroke: #eaf0ff;
    transition: 0.25s linear;
}
.icon__theme {
    width: 24px;
    height: 24px;
}
.icon__main-settings {
    width: 20px;
    height: 20px;
    stroke: #8996b8;
}
.icon__close {
    stroke: #eaf0ff;
}

.icon__profile,
.icon__language,
.icon__message,
.icon__faqs {
    width: 20px;
    height: 20px;
    fill: #8996b8;
}

// /.SVG
