* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    color: #eaf0ff;
    font-family: Gilroy, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    position: relative;
    background-color: #091227;

    display: flex;
    flex-direction: column;
}
.App.light {
    background-color: #f7faff;
}

.main {
    flex: 1 0 auto;
}

svg {
    flex-shrink: 0;
}
.icon {
    z-index: 1;
}

button,
input {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

// /.NULLSTYLES

@mixin textSlice {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    color: #eaf0ff;
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    @include textSlice;
}
.subtitle {
    color: #a5c0ff;
    font-weight: 400;
    line-height: 11.6px;
    font-size: 10px;
    text-transform: uppercase;
    @include textSlice;
}

// /.GENERAL

.page {
    height: 100%;
    &__wrapper {
        padding: 0 !important;
        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0;
        }
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }
    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 29.02px;
        margin: 0 0 20px 0;
    }
    &__section--playlist {
        margin: 42px 0 0 0;
    }
}
.page.light {
    background-color: #f7faff;
    .page__title a {
        color: #091227;
    }
    .title {
        color: #091227;
    }
}
.page--player {
    @extend .page;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home {
    flex-grow: 1;
    overflow-y: scroll;
    max-height: calc(100vh - 96px - 69px);
    padding: 0 0 0 28px;
    &__section {
        &:not(:first-child) {
            margin: 34px 0 0 0;
        }
    }
}

.search {
    max-height: calc(100vh - 102px - 69px);
    overflow-y: scroll;
}

.playlist {
    max-height: 75vh;
    height: 100%;
    overflow-y: scroll;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
.player {
    &__section {
        margin: 35px 0 0 0;
    }
    &__time {
        margin: 40px 0 20px 0;
    }
    &__navigation {
        display: flex;
        position: relative;
    }
    &__button {
        padding: 0;
    }
    &__button--volume {
        flex: 1;
        text-align: start;
        transform: scale(1);
        transition: transform 0.35s linear;
        &:active {
            transform: scale(1.005);
        }
    }
    &__button--repeat {
        margin: 0 12px;
    }
    &__button--like {
        position: absolute;
        right: 0;
        top: -295%;
        fill: #555b6a;
        transform: scale(1);
        transition: all 0.25s linear;
        z-index: 1;
        &:active {
            fill: #ff3333;
            transform: scale(1.3);
        }
    }
}
.volume {
    position: relative;
    &__label {
        background-color: #cc0000;
        position: absolute;
        height: 10px;
        width: 1px;
        bottom: 35%;
        left: 10%;
        display: none;
    }
    :nth-child(2) {
        transform: rotate(45deg);
    }
    :nth-child(3) {
        transform: rotate(-45deg);
    }
}
.volume__label.muted {
    display: block;
}
.time {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.92px;
    color: rgba(165, 192, 255, 0.7);
    display: flex;
    justify-content: space-between;
}
.time.light {
    color: #0e172d;
}

.container {
    max-width: 330px;
    padding: 0 5px;
    margin: 0 auto;
}
.container--loading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container--playlist {
    @extend .container;
}
.container--footer {
    margin: 0 auto calc(100vh / 5) auto;
}

// /.PAGES

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-overflow-container {
    overflow-x: hidden;
    .container {
        overflow: visible;
        outline: 2px solid red;
    }
    .swiper-container {
        overflow: visible;
    }
}

// /.SLIDER

.icon__search {
    stroke: #eaf0ff;
    transition: 0.25s linear;
}
.icon__theme {
    width: 24px;
    height: 24px;
}
.icon__main-settings {
    width: 20px;
    height: 20px;
    stroke: #8996b8;
}
.icon__close,
.icon__menu,
.icon__arrow-back,
.icon__mixer,
.icon__play,
.icon__pause {
    stroke: #eaf0ff;
}

.icon_arrow-prev,
.icon__arrow-next {
    fill: #eaf0ff;
}

.icon__profile {
    fill: none;
    stroke: #8996b8;
}
.icon__language,
.icon__message,
.icon__faqs {
    width: 20px;
    height: 20px;
    fill: #8996b8;
}

.icon__telegram,
.icon__instagram,
.icon__website,
.icon__mail {
    width: 35px;
    height: 35px;
}

// /.SVG

.loading--playlist {
    &:not(:last-child) {
        margin: 0 0 24px 0;
    }
    &:nth-last-child(2) {
        margin: 0;
    }
}

.loading__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    :nth-child(2) {
        margin: 16px 0 6px 0;
    }
    :nth-child(3) {
        width: 70%;
    }
}

.loading__preview {
    width: 190px;
    height: 190px;
    background-color: #555b6a;
    border-radius: 8px;
}
.loading__preview--player {
    @extend .loading__preview;
    width: 230px;
    height: 230px;
}
.loading__preview--nav {
    @extend .loading__preview;
    width: 65px;
    height: 65px;
    margin: 0 12px 0 0;
    border-radius: 0;
}
.loading__preview--playlist {
    @extend .loading__preview;
    width: 150px;
    height: 145px;
}

.loading__text {
    width: 85%;
    height: 12px;
    background-color: #555b6a;
    border-radius: 8px;
}
.loading__text--player {
    @extend .loading__text;
    height: 15px;
}
.loading--nav {
    @extend .loading__card;
    :not(:last-child) {
        margin: 0 0 6px 0;
    }
    align-items: flex-start;
}
.loading__text--track {
    width: 100px;
}
.loading__text--artist {
    width: 70px;
}

.animated {
    animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
    0% {
        background-color: rgba($color: #555b6a, $alpha: 0.45);
    }

    100% {
        background-color: rgba($color: #555b6a, $alpha: 0.95);
    }
}

.slide {
    animation: slider 10s infinite linear;
}
@keyframes slider {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%);
    }
}
