.nav {
    display: flex;
    align-items: center;
    padding: 0 28px 0 0;
    &__button {
        outline: none;
        border: none;
        transform: scale(1);
        transition: all 0.1s linear;
        &:active {
            transform: scale(1.1);
        }
    }
}

.nav__button--play {
    width: 44px;
    height: 37px;
}
.nav__button--play.nav__button--player {
    width: 48px;
    height: 42px;
}

.nav__button--next .icon__arrow-next,
.nav__button--prev .icon_arrow-prev {
    width: 20px;
    height: 20px;
}
.nav__button--pause .icon__pause {
    width: 32px;
    height: 32px;
}
.nav__button--play .icon__play {
    width: 22px;
    height: 22px;
}

//
.nav--player {
    max-width: 170px;
    width: 100%;
    padding: 0 0 60px 0;
    margin: 80px auto 0 auto;
    justify-content: center;
}

.nav__button--player {
    position: relative;
    padding: 0;
    flex-grow: 1;
    &:nth-child(2) {
        margin: 0 22px;
    }
}
.nav__button--player .icon__pause {
    width: 37px;
    height: 41px;
}
.nav__button--player .icon__play {
    width: 37px;
    height: 38px;
}

.nav__button--player.nav__button--next .icon__arrow-next,
.nav__button--player.nav__button--prev .icon_arrow-prev {
    width: 30px;
    height: 32px;
}

.nav.light {
    .nav__button .icon_arrow-prev,
    .icon__play,
    .icon__arrow-next {
        fill: #091127;
    }
    .icon__pause {
        stroke: #091127;
    }
}
