.nav {
    display: flex;
    align-items: center;
    padding: 0 28px 0 0;
    &__button {
        outline: none;
        border: none;
        transform: scale(1);
        transition: all 0.1s linear;
        &:active {
            transform: scale(1.1);
        }
    }
}
.nav__button--player {
    padding: 0;
}
.nav__button--player.nav__button--pause {
    margin: 0 26px;
    width: 37px;
    height: 41px;
}
.nav__button--player.nav__button--next,
.nav__button--player.nav__button--prev {
    width: 30px;
    height: 32px;
}


