.progress {
    background-color: rgba(255, 255, 255, 0.31);
    width: 100%;
    height: 4px;
    position: relative;
    cursor: pointer;
    &__line {
        transition: all 0.4s linear 0s;
        background-color: #fff;
        height: 100%;
        width: 0;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            right: 0;
            top: -120%;
            background-color: #fff;
            width: 14px;
            height: 14px;
            border-radius: 100%;
            display: block;
        }
    }
}

.progress.light {
    background-color: #cacaca;
    .progress__line {
        background-color: #091227;
        &::before {
            background-color: #091227;
        }
    }
}
