.nav {
    display: flex;
    align-items: center;
    padding: 0 25px 0 0;
    &__button {
        outline: none;
        border: none;
        transform: scale(1);
        transition: all 0.1s linear;
        overflow: hidden;
        height: 45px;
        &:active {
            transform: scale(1.1);
        }
    }
}

.nav--player.nav--player {
    justify-content: center;
    margin: 0 auto;
    max-width: 170px;
    padding: 80px 0 0;
    width: 100%;
    :nth-child(2) {
        margin: 0 22px;
    }
}

.pause,
.play,
.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
    .icon__pause {
        width: 38px;
        height: 34px;
    }
    .icon__play {
        width: 38px;
        height: 26px;
    }
    .icon__arrow-prev,
    .icon__arrow-next {
        height: 20px;
        width: 20px;
    }
}

.nav__button--player {
    .icon__pause {
        height: 45px;
    }
    .icon__play {
        height: 38px;
    }
    .icon__arrow-prev,
    .icon__arrow-next {
        height: 32px;
        width: 32px;
    }
}

.nav.light {
    .icon__play,
    .icon__arrow-next,
    .icon__arrow-prev {
        fill: #091127;
    }
    .icon__pause {
        stroke: #091127;
    }
}

// #091127
