.nav {
    display: flex;
    align-items: center;
    padding: 0 25px 0 0;

    &__button {
        outline: none;
        border: none;
        transform: scale(1);
        transition: all 0.1s linear;
        overflow: hidden;
        height: 45px;
        opacity: 1;

        &:active {
            transform: scale(1.1);
        }

        &:disabled {
            opacity: 0.25;

            &:active {
                transform: scale(1);
            }
        }
    }
}

.nav--player.nav--player {
    justify-content: center;
    margin: 0 auto;
    max-width: 170px;
    padding: 80px 0 0;
    width: 100%;

    :nth-child(2) {
        margin: 0 22px;
    }
}

.pause,
.play,
.prev,
.next {
    display: flex;
    align-items: center;
    justify-content: center;
}



// #091127