.card {
    max-width: 190px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    transition: scale 1s linear;
    overflow: hidden;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        background-color: #3757aa;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 50%;
        border-radius: 60%;
        filter: blur(20px);
    }
    &__image {
        width: 190px;
        height: 190px;
        object-fit: cover;
        position: relative;
        border-radius: 8px;
    }
    &__image--player {
        width: 230px;
        height: 230px;
    }
    &__image--playlist {
        width: 190px;
        height: 190px;
    }
    &__title {
        color: var(--card-title-color);
        margin: 16px 0 6px 0;
        white-space: nowrap !important;
        cursor: pointer;
    }
    &__subtitle {
        z-index: 1;
        position: relative;
    }
    &__button--like {
        position: absolute;
        right: 0;
        transform: scale(1);
        transition: all 0.25s linear;
        z-index: 1;
        &:hover svg {
            fill: rgba(255, 4, 4, 0.75);
        }
        &:active svg {
            fill: rgba(255, 4, 4, 0.75);
        }
        svg {
            transition: all 0.15s linear;
        }
    }
}

.card--playlist {
    margin: auto;
    width: 100%;
}
.card--player {
    max-width: 230px;
    width: 100%;
}
.card--player.favourite {
    border: 1px solid rgb(1, 255, 35);
}
.card__title--player.card__title--player {
    font-size: 22px;
    line-height: 28.25px;
}
.card__subtitle--player.card__subtitle--player {
    font-size: 14px;
}
