.navigation {
    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &__wrapper--player {
        justify-content: space-between;
        height: 100%;
    }
    &__bar {
        display: flex;
        justify-content: space-between;
    }
    &__description {
        display: flex;
        align-items: center;
    }
    &__informantion {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 150px;
    }
    &__track-name {
        margin: 0 0 6px 0;
        white-space: nowrap;
        color: var(--trackName-color);
        cursor: pointer;
    }
    &__artist-name {
        cursor: pointer;
    }
    &__image {
        cursor: pointer;
        object-fit: cover;
        width: 65px;
        height: 65px;
        margin: 0 12px 0 0;
    }
}

.navigation--player {
    margin: 0;
}
