.header {
    flex: 0 0 auto;
    padding: 40px 28px 0 28px;
    &__section {
        display: flex;
        justify-content: space-between;
    }
    &__section--player {
        position: relative;
        justify-content: center;
    }
    &__button {
        transition: transform 0.25s linear;
        &:active {
            transform: scale(1.25);
        }
    }
    &__button--player {
        position: absolute;
        left: 0;
        padding: 0;
    }
    &__button--playlist {
        padding: 0;
    }
    &__title {
        font-size: 20px;
        font-weight: 500;
        margin: 0;
    }
}

.header.light {
    background-color: #f7faff;
    .header__button .icon__arrow-back,
    .icon__mixer {
        stroke: #091127;
    }
    .header__title {
        color: #091227;
    }
}
