.question {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    align-items: start;
  }
  &__item {
    color: var(--questionItem-color);
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
  &__title {
    margin: 0;
  }
  &__answer {
    display: block;
    color: #8b949e;
  }
  &__button {
    transition: transform 0.35s ease;
  }
}
.question__answer.closed {
  display: none;
}
.question__button.opened {
  transform: rotate(180deg);
}
