.burger {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    &__background {
        background: rgba(9, 18, 39, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
    }
    &__wrapper {
        z-index: 2;
        position: relative;
        padding: 35px 25px;
        max-width: 265px;
        width: 100%;
        height: 100%;
        background-color: #091227;
    }
    &__navigation {
        display: flex;
        justify-content: space-between;
        margin: 0 0 50px 0;
    }
    &__button {
        transform: scale(1);
        transition: all 0.25s linear;
        &:active {
            transform: scale(1.25);
        }
    }
    &__button--close {
        &:active svg {
            transition: all 0.25s linear;
            stroke: #cc0000;
        }
        &:hover svg {
            transition: all 0.25s linear;
            stroke: #cc0000;
        }
    }
    .icon__like {
        fill: #8996b8;
        fill-opacity: 0.6;
    }
}

.burger__wrapper.light {
    background-color: #eaf0ff;
}
.burger__navigation.light {
    .burger__button--close {
        @extend .burger__button--close;
    }
    .burger__button--close .icon__close {
        stroke: #091127;
    }
}
.menu.light {
    .menu__item .menu__link {
        color: #091227;
    }
    .menu__item {
        &:hover svg {
            fill: #091227;
        }
        &:hover .icon__profile {
            stroke: #091227;
            fill: none;
        }
        &:hover .icon__main-settings {
            stroke: #091227;
            fill: none;
        }
    }
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    &:hover {
        cursor: pointer;
    }
    &__item {
        display: flex;
        align-items: center;
        transition: transform 0.25s linear;
        &:not(:last-child) {
            margin: 0 0 32px 0;
        }
        &:hover .menu__link {
            color: rgba(165, 192, 255, 0.7);
        }
        &:hover svg {
            transition: transform 0.25s linear;
            transform: scale(1.1);
            fill: rgba(165, 192, 255, 0.7);
        }
        &:hover .icon__main-settings {
            transition: transform 0.25s linear;
            transform: scale(1.1);
            fill: none;
            stroke: rgba(165, 192, 255, 0.7);
        }
    }
    &__link {
        font-size: 20px;
        font-weight: 400;
        line-height: 23.54px;
        text-align: start;
        margin: 0 0 0 20px;
        color: #dfe8ff;
    }
}
