.card {
    max-width: 190px;
    width: 100%;
    border-radius: 8px;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-color: #3757aa;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 50%;
        border-radius: 60%;
        filter: blur(20px);
    }
    &__image {
        width: 190px;
        height: 190px;
        object-fit: cover;
        position: relative;
    }
    &__title {
        margin: 16px 0 6px 0;
        position: relative;
    }
    &__subtitle {
        z-index: 1;
        position: relative;
    }
}
