*,
*::before,
*::after {
    box-sizing: border-box;
}

svg {
    flex-shrink: 0;
}

button,
input {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 0;
    border: 0 none transparent;
}