@import './mixins';

// /. imports

body {
    font-family: Gilroy, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
    position: relative;
    background-color: var(--app-background-color);

    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

.title {
    color: var(--title-color);
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    @include textSlice;
}

.subtitle {
    color: var(--subtitle-color);
    font-weight: 400;
    line-height: 11.6px;
    font-size: 10px;
    text-transform: uppercase;
    @include textSlice;
}

.icon {
    z-index: 1;
}

// /. general-styles

.page {
    height: 100%;
    background-color: var(--page-background-color);

    &__wrapper {
        padding: 0 !important;

        &::-webkit-scrollbar {
            background-color: transparent;
            width: 0;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparent;
        }
    }

    &__title {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        line-height: 29.02px;
        margin: 0 0 20px 0;
        color: var(--title-color);
    }

    &__title a {
        color: var(--title-color);
    }

    &__section--playlist {
        margin: 42px 0 0 0;
    }
}

.error {
    position: absolute;
    z-index: 5;
    background-color: rgba($color: #000000, $alpha: 0.45);
    color: red;
    font-weight: 700;
    font-size: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page--player {
    @extend .page;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5px;
}

.home {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 0 0 0 28px;

    &__section {
        &:not(:first-child) {
            margin: 34px 0 0 0;
        }
    }
}

.playlist {
    height: calc(100vh - 48px - 69px);
    padding: 0 10px;
    overflow-y: scroll;

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 20px;
    }
}

.player {
    &__section {
        margin: 35px 0 0 0;
    }

    &__time {
        margin: 40px 0 20px 0;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &__button {
        padding: 0;
    }

    &__button--volume {
        flex: 1;
        text-align: start;
        transform: scale(1);
        transition: transform 0.35s linear;

        &:active {
            transform: scale(1.005);
        }
    }

    &__button--repeat {
        margin: 0 12px;
    }

    &__button--like {
        position: absolute;
        right: 0;
        top: -295%;
        transform: scale(1);
        transition: all 0.25s linear;
        z-index: 1;

        &:hover svg {
            fill: rgba(255, 4, 4, 0.75);
        }

        &:active svg {
            fill: rgba(255, 4, 4, 0.75);
        }

        svg {
            transition: all 0.15s linear;
        }
    }
}

.volume {
    position: relative;
    flex-grow: 0;

    &__label {
        background-color: #cc0000;
        position: absolute;
        height: 10px;
        width: 1px;
        bottom: 35%;
        left: 2rem;
        display: none;
    }

    :nth-child(2) {
        transform: rotate(45deg);
    }

    :nth-child(3) {
        transform: rotate(-45deg);
    }
}

.volume__label.muted {
    display: block;
}

.time {
    font-size: 12px;
    font-weight: 400;
    line-height: 13.92px;
    color: var(--time-color);
    display: flex;
    justify-content: space-between;
}

.container--loading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

// /. pages-styles

.swiper {
    width: 100%;
    height: 100%;
    cursor: grab;
}

.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-overflow-container {
    overflow-x: hidden;

    .container {
        overflow: visible;
        outline: 2px solid red;
    }

    .swiper-container {
        overflow: visible;
    }
}

// /. slider-styles

.loading {
    &__preview {
        width: 190px;
        height: 190px;
        background-color: #555b6a;
        border-radius: 8px;
        margin: 0 0 10px 0;
    }

    &__text {
        width: 85%;
        height: 12px;
        background-color: #555b6a;
        border-radius: 8px;
    }
}

.loading__card {
    display: flex;
    flex-direction: column;
    align-items: center;

    :nth-child(2) {
        margin: 16px 0 12px 0;
    }

    :nth-child(3) {
        width: 70%;
    }
}

.loading__card--player {
    .loading__preview {
        width: 230px;
        height: 230px;
        margin: 0 0 14px 0;
    }

    .loading__text {
        height: 14px;
    }

    :nth-child(2) {
        margin: 16px 0 15px 0;
    }
}

.loading__card--playlist {
    .loading__preview {
        width: 175px;
        height: 175px;
        margin: 0 0 14px 0;
    }

    .loading__text {
        height: 14px;
        width: 55%;
    }

    :nth-child(2) {
        margin: 16px 0 15px 0;
    }

    :nth-child(3) {
        width: 40%;
    }
}

.loading__preview--nav {
    @extend .loading__preview;
    width: 65px;
    height: 65px;
    margin: 0 12px 0 0;
    border-radius: 0;
}

.loading--nav {
    @extend .loading__card;

    :not(:last-child) {
        margin: 0 0 6px 0;
    }

    align-items: flex-start;
}

.loading__text--track {
    width: 100px;
}

.loading__text--artist {
    width: 70px;
}

.animated {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: rgba($color: #555b6a, $alpha: 0.45);
    }

    100% {
        background-color: rgba($color: #555b6a, $alpha: 0.95);
    }
}

.slide {
    animation: slider 10s infinite linear;
}

@keyframes slider {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-200%);
    }
}

.id {
    color: #fff;
}